/* app css stylesheet */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.mychebox { margin-left: 20px; }
.myrow { margin-bottom: 40px; }
.mybutton { margin-top: 100px; }