/* app css stylesheet */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.mybutton { margin-top: 100px; }
.mychebox { margin-left: 20px; }
.marg-bot { margin-bottom: 40px; }
.box-border {
    border: 1px solid black; 
    padding: 5px;
}
