<form>
    <div class="form-group">
        <label for="tmplName">Template Name</label>
        <input class="form-control" id="tmplName" placeholder="Template Name" ng-model="templateData.name">
    </div>
    <div class="form-group">
        <label for="tmplDescr">Template Description</label>
        <input class="form-control" id="tmplDescr" placeholder="Template Description" ng-model="templateData.description">
    </div>
    <div class="form-group">
        <label for="tmplText">Template Name</label>
        <textarea rows="10" class="form-control" id="tmplText" placeholder="Template Text" ng-model="templateData.templateText"></textarea>
    </div>
    <button type="submit" ng-click="updateData($event)" class="btn btn-default">Update Template</button>
</form>