<a href="#/shops">Shops</a>
<a href="#/shops/account">Account</a>
<a href="#/shops/search">Search</a>
<a href="#/shops/buy">Buy</a>
<a href="#/shops/sell">Sell</a>
<style>    
    .mybutton { margin-left: 20px; }
    .myrow { margin-bottom: 40px; }
</style>
<div class="row myrow">
  <div class="col-md-6">
  <h1>Shop properties (AliBaba)</h1>
  </div>
</div>

<div class="row myrow">
  <div class="col-md-8">
    <ul class="nav nav-pills">
      <li class="active"><a href="#">Account</a></li>
      <li><a href="#">Search</a></li>
      <li><a href="#">Buy</a></li>
      <li><a href="#">Sell</a></li>
    </ul>
  </div>
</div>

<div class="row myrow">
  <div class="col-md-1 mybutton">
    <label class="checkbox">
        <input type="checkbox"> Enable
    </label>
  </div>
</div>