<div class="row marg-bot">
  <shops-navigation active="'search'"></shops-navigation>
</div>


<div class="row marg-bot">
  <div class="col-md-2">
	<label>Enable</label>
  </div>
  <div class="col-md-2">
    <input type="checkbox"> 
  </div>
</div>

<div class="row marg-bot">
  <div class="col-md-2">
  	<label>Items per page</label>
  </div>
  <div class="col-md-3">
	<select class="form-control">
	  <option>10</option>
	  <option>50</option>
	  <option>100</option>
	</select>
  </div>
</div>
<div class="row marg-bot">
  <div class="col-md-4 mybutton">
	<button type="button" class="btn btn-default">Save</button>
  </div>
</div>

