<div class="row marg-bot">
	<shops-navigation active="'sell'"></shops-navigation>
</div>

<div class="row marg-bot">
  <div class="col-md-2">
	<label>Enable</label>
  </div>
  <div class="col-md-2">
    <input type="checkbox"> 
  </div>
</div>
<div class="row marg-bot">
  <div class="col-md-6">
	<div class="box-border">
		<div class="row marg-bot">
		 	 <div class="col-md-4">
		  		<label>Monitoring for selling</label>
		  	 </div>
		 </div>
		<div class="row marg-bot">
		 	 <div class="col-md-6">
			  	<div class="radio">
			  		<label>
			          <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
			          Do not monitoring automaticly
			          </label>
				</div>
			  </div>
			</div>  
		<div class="row marg-bot">
		 	 <div class="col-md-6">
			  	<div class="radio">
			  		<label>
			          <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
			          Just-in-time method (available)
			          </label>
				</div>
			  </div>
			  </div>
		<div class="row marg-bot">
		 	 <div class="col-md-6">
			  	<div class="radio">
			  		<label>
			          <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
			          Periofic-checking method (available)
			          </label>
				</div>
			  </div>
			  </div>
		</div>
	</div>
  </div>
</div>
<div class="row">
  <div class="col-md-2">What to do after sold</div>
</div>
<div class="row">
  <div class="col-md-2 col-md-offset-2">
  	<div class="radio">
  		<label>
          <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
          2x price and pause
          </label>
	</div>
  </div>
</div>
<div class="row">
  <div class="col-md-2 col-md-offset-2">
  	<div class="radio">
  		<label>
          <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
          Reinit and go again
          </label>
	</div>
  </div>
</div>
<div class="row">
  <div class="col-md-2 col-md-offset-2">
  	<div class="radio">
  		<label>
          <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
          Remain 0 qty
          </label>
	</div>
  </div>
</div>
<div class="row marg-bot">
  <div class="col-md-4 mybutton">
	<button type="button" class="btn btn-default">Save</button>
  </div>
</div>
