<a href="#/shops">Shops</a>
<a href="#/shops/account">Account</a>
<a href="#/shops/search">Search</a>
<a href="#/shops/buy">Buy</a>
<a href="#/shops/sell">Sell</a>

<div class="container-fluid">
	<div class="row marg-bot">
	  <div class="col-md-6">
	  <h1>Shop properties (AliBaba)</h1>
	  </div>
	</div>

	<div class="row marg-bot">
	  <div class="col-md-8">
	    <ul class="nav nav-pills">
	      <li class="active"><a href="#">Account</a></li>
	      <li><a href="#">Search</a></li>
	      <li><a href="#">Buy</a></li>
	      <li><a href="#">Sell</a></li>
	    </ul>
	  </div>
	</div>
<div class="row marg-bot">
	<shops-navigation active="'sell'"></shops-navigation>
</div>
	<div class="row marg-bot">
	  <div class="col-md-2">
		<label>Enable</label>
	  </div>
	  <div class="col-md-2">
	    <input type="checkbox"> 
	  </div>
	</div>
	<div class="row marg-bot">
	  <div class="col-md-8">
		<div class="box-border">
			<div class="row">
			 	 <div class="col-md-6">
			  		<label>Monitoring for selling</label>
			  	 </div>
			</div>
			<div class="row">
			 	 <div class="col-md-8">
				  	<div class="radio">
				  		<label>
				          <input type="radio" name="radioGroup1" name="optionsRadios" id="optionsRadios1" value="option1" checked>
				          Do not monitoring automaticly
				        </label>
					</div>
				 </div>
			</div>  
			<div class="row">
			 	 <div class="col-md-8">
				  	<div class="radio">
				  		<label>
				          <input type="radio" name="radioGroup1" name="optionsRadios" id="optionsRadios2" value="option2" checked>
				          Just-in-time method (available)
				          </label>
					</div>
				 </div>
			</div>
			<div class="row marg-bot">
			 	 <div class="col-md-8">
				  	<div class="radio">
				  		<label>
				          <input type="radio" name="radioGroup1" name="optionsRadios" id="optionsRadios3" value="option3" checked>
				          Periofic-checking method (available)
				         </label>
					</div>
				  </div>
			</div>
			<div class="row">
			 	<div class="col-md-5">
			  		<label>Default checkin period, hrs</label>
			  	</div>
			  	<div class="col-md-2">
			  		<div class="radio">
				  		<label>
				          <input type="radio" name="radioGroup2" name="optionsRadios" id="optionsRadios3" value="option3" checked>
				          Default
				        </label>
					</div>
				</div>
			</div>
			<div class="row">
			 	 <div class="col-md-4 col-md-offset-5">
				  	<div class="radio">
				  		<label>
				          <input type="radio" name="radioGroup2" name="optionsRadios" id="optionsRadios3" value="option3" checked>
				          	<select class="form-control">
							  <option>12 hrs</option>
							  <option>6 hrs</option>
							  <option>4 hrs</option>
							  <option>2 hrs</option>
							  <option>1 1/2 hrs</option>
							  <option>1 hrs</option>
							  <option>1/2 hrs</option>
							  <option>1/4 hrs</option>
							</select>
				         </label>
					</div>
				 </div>
			</div>
		  </div>
		</div>
	</div>

	<div class="row">
	  <div class="col-md-4">What to do after sold</div>
	</div>
	<div class="row">
	  <div class="col-md-4 col-md-offset-2">
	  	<div class="radio">
	  		<label>
	          <input type="radio" name="radioGroup3" name="optionsRadios" id="optionsRadios1" value="option1" checked>
	          2x price and pause
	          </label>
		</div>
	  </div>
	</div>
	<div class="row">
	  <div class="col-md-4 col-md-offset-2">
	  	<div class="radio">
	  		<label>
	          <input type="radio" name="radioGroup3" name="optionsRadios" id="optionsRadios2" value="option2" checked>
	          Reinit and go again
	          </label>
		</div>
	  </div>
	</div>
	<div class="row">
	  <div class="col-md-4 col-md-offset-2">
	  	<div class="radio">
	  		<label>
	          <input type="radio" name="radioGroup3" name="optionsRadios" id="optionsRadios3" value="option3" checked>
	          Remain 0 qty
	          </label>
		</div>
	  </div>
	</div>
	<div class="row marg-bot">
	  <div class="col-md-4 mybutton">
		<button type="button" class="btn btn-default">Save</button>
	  </div>
	</div>
</div>
  </div>
</div>
<div class="row marg-bot">
  <div class="col-md-4 mybutton">
	<button type="button" class="btn btn-default">Save</button>
  </div>
</div>