<a href="#/shops">Shops</a>
<a href="#/shops/account">Account</a>
<a href="#/shops/search">Search</a>
<a href="#/shops/buy">Buy</a>
<a href="#/shops/sell">Sell</a>

<div class="row marg-bot">
  <div class="col-md-6">
  <h1>Shop properties (AliBaba)</h1>
  </div>
</div>

<div class="row marg-bot">
  <div class="col-md-8">
    <ul class="nav nav-pills">
      <li class="active"><a href="#">Account</a></li>
      <li><a href="#">Search</a></li>
      <li><a href="#">Buy</a></li>
      <li><a href="#">Sell</a></li>
    </ul>
  </div>
</div>

<div class="row marg-bot">
  <div class="col-md-2">
	<label>Enable</label>
  </div>
  <div class="col-md-2">
    <input type="checkbox"> 
  </div>
</div>
<div class="row marg-bot">
  <div class="col-md-6">
	<div class="box-border">
		<div class="row marg-bot">
		 	 <div class="col-md-4">
		  		<label>Monitoring for selling</label>
		  	 </div>
		 </div>
		<div class="row marg-bot">
		 	 <div class="col-md-6">
			  	<div class="radio">
			  		<label>
			          <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
			          Do not monitoring automaticly
			          </label>
				</div>
			  </div>
			</div>  
		<div class="row marg-bot">
		 	 <div class="col-md-6">
			  	<div class="radio">
			  		<label>
			          <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
			          Just-in-time method (available)
			          </label>
				</div>
			  </div>
			  </div>
		<div class="row marg-bot">
		 	 <div class="col-md-6">
			  	<div class="radio">
			  		<label>
			          <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
			          Periofic-checking method (available)
			          </label>
				</div>
			  </div>
			  </div>
		</div>
	</div>
  </div>
</div>
<div class="row">
  <div class="col-md-2">What to do after sold</div>
</div>
<div class="row">
  <div class="col-md-2 col-md-offset-2">
  	<div class="radio">
  		<label>
          <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
          2x price and pause
          </label>
	</div>
  </div>
</div>
<div class="row">
  <div class="col-md-2 col-md-offset-2">
  	<div class="radio">
  		<label>
          <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
          Reinit and go again
          </label>
	</div>
  </div>
</div>
<div class="row">
  <div class="col-md-2 col-md-offset-2">
  	<div class="radio">
  		<label>
          <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
          Remain 0 qty
          </label>
	</div>
  </div>
</div>
<div class="row marg-bot">
  <div class="col-md-4 mybutton">
	<button type="button" class="btn btn-default">Save</button>
  </div>
</div>