<a href="#/shops">Shops</a>
<a href="#/shops/account">Account</a>
<a href="#/shops/search">Search</a>
<a href="#/shops/buy">Buy</a>
<a href="#/shops/sell">Sell</a>
<h1 align="center">Attached shops</h1>
<div class="table-responsive"> 
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Shop</th>
				<th>User</th>
				<th>State</th>
				<th>Last Activity</th>
				<th>Items</th>
				<th>Active Items</th>
				<th>Buy</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="shop in shops">
				<td>{{shop.shopName}}</td>
				<td>{{shop.shopUserName}}
				<td>{{shop.userShopState}}</td>
				<td>{{shop.lastActivityDate}}</td>
				<td>{{shop.itemsCount}}</td>
				<td>{{shop.activeItemsCount}}</td>
				<td>{{shop.butCount}}</td>
				<td>
					<button ng-click="editShop" class="btn btn-default btn-block">
						Edit
					</button>
				</td>
			</tr>
		</tbody>
	</table>
	</div>
<p>
	<button type="button" class="btn btn-default">New</button>
</p>