<a href="#/shops">Shops</a>
<a href="#/shops/account">Account</a>
<a href="#/shops/search">Search</a>
<a href="#/shops/buy">Buy</a>
<a href="#/shops/sell">Sell</a>
<h1 align="center">Attached shops</h1>
<div class="table-responsive"> 
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Shop</th>
			<th>User</th>
			<th>State</th>
			<th>Last Activity</th>
			<th>Items</th>
			<th>Active Items</th>
			<th>Buy</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Ebay</td>
			<td>ryp</td>
			<td>online</td>
			<td>1/1/2011</td>
			<td>210</td>
			<td>1</td>
			<td>10</td>
			<td>edit</td>
		</tr>
		<tr>
			<td>Amazon</td>
			<td>sid</td>
			<td>offline</td>
			<td>1/1/2011</td>
			<td>220</td>
			<td>1</td>
			<td>2</td>
			<td>edit</td>
		</tr>
		<tr>
			<td>Alibaba</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>edit</td>
		</tr>
		<tr>
			<td>Wallmart</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>edit</td>
		</tr>
		<tr>
			<td colspan="8"> 
			</td>
		</tr>
	</tbody>
</table> 
</div>
<p>
	<button type="button" class="btn btn-default">New</button>
</p>